

.lead-status-container {
    margin-top: 1rem;
}

.lead-status-label {
    font-size: 1.2rem;
    font-weight: 600;
   
}

.lead-filter-label {
    margin-top: 4rem;
    font-size: 1.5rem;
    font-weight: 700;
    padding-right: 0.5rem;
}

.lead-status-dropdown {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: #fff;
    margin: 0.5rem;

}

.timeToClose-btn {
    background-color: #007bff;
    color: white;
    padding: 0.6rem 1.25rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    /* margin-top: 0.75rem; */
    transition: background-color 0.2s ease-in-out;
}

.lead-filter {
    margin-top: 3rem;
}