.leads {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    flex-wrap: wrap;
  
  }
  
  .lead-card {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 6px;
    min-width: 100px;
    text-align: center;
    
  }

.lead-card-link {
  text-decoration: none;
  color: inherit;
}